body {
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.rood {
    height: calc(100% -5px);
    background-color: #F05050;
}

.groen {
    height: 400px;
    background-color: #50F050;
    grid-row: span 2;
}

.blauw {
    height: calc(100% -5px);
    background-color: #5050F0;
}

.geel {
    width: 200px;
    height: 200px;
    background-color: #F0F050;
}

.lichtblauw {
    width: 200px;
    height: 200px;
    background-color: #50F0F0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

@media only screen and (max-width: 600px) {

    .rood,
    .groen,
    .blauw {
        grid-column: span 2;
    }

    .green {
        height: 600px;
    }

    .lichtblauw,
    .geel {
        width: 50%;
    }

    .rood,
    .blauw {
        height: 200px;
    }
}