:root {
    --primary: #D8BC69;
    --prim-dark: #bf9d39;
    --text: #1e1e20;
    --white: #FFFFFF;   
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'lato', sans-serif;
    font-size: 80px;
    line-height: 1.05;
    color: var(--white);
    margin: 0;
}

h2 {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    line-height: 1.05;
    color: var(--text);
    margin: 0;
}

h3 {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    line-height: 1.1;
    color: var(--text);
    margin: 0;
}

p.large {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    color: var(--text);
}

p {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: var(--text);

}

nav {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: var(--text);
}

ul {
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: var(--text);
}

li { 
    margin: 0px 15px;
    list-style: none;
}

.current {
    border-bottom: 3px solid var(--primary);
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    padding: 0px 10px;
    width: 100%;
    height: 3.6em;
    background-color: var(--white);
    margin-top: auto;
}

.logo {
    object-fit: cover;
    display: inline-block;
    margin-top: 2px;
}


header img {
    height: 3.0em;
}


.header-width {
    display: flex;
    margin: auto;
    max-width: 1100px;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 400px;   
    justify-content: center;
    align-items: center;
}


.home-image {
    background-image: url("./Foto\'s-website/Image-6.jpg");
    filter: brightness(90%);
}

.over-ons-container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 2fr;
    margin: 50px auto;
    gap: 25px;
}

.over-ons img {
    object-fit: cover;
    width: 350px;
    height: 300px;
}

.over-ons-info {
    max-width: 800px;
}

.over-ons-info h3 {
    margin-left: 5px;
}

.over-ons-info p {
    margin-bottom: 25px;
}

.contact-container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 2fr 1fr;
    margin: 50px auto;
    gap: 25px;
}

.contact-info {
    max-width: 800px;
}

.contact-info h3 {
    margin-left: 5px;
}

.contact-info p {
    margin-bottom: 25px;
}

.contact img {
    object-fit: cover;
    width: 340px;
    height: 320px;
}

.button {
    background-color: var(--primary);
    padding: 8px 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
}

.button:hover {
    background-color: var(--prim-dark);
    cursor: pointer;
}

footer {
    position: inherit;
    bottom: 0;
    padding: 0px;
    width: 100%;
    height: 5em;
    background-color: var(--primary);
    margin-top: auto;
}

.footer-width {
    display: flex;
    margin: auto;
    padding: 10px;
    max-width: 1025px;
    justify-content: space-between;
}

.footer-width p {
    margin: auto 0;
}

@media only screen and (max-width: 600px) {
    header {
        height: 4.3em;
    }
    
    header img {
        height: 3.7em;
    }

    header nav ul {
        justify-content: center;
        margin-top: 0px;
    }

    .hero-container h1 {
        font-size: 50px;
        font-weight: 300;
    }

    .over-ons-container {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
    }

    .over-ons {
        margin: 0 auto;
    }
    
    .over-ons img {
        width: 370px;
        height: 235px;
    }
    
    .over-ons-info {
        margin: 0px 20px;
    }
    
    .over-ons-info h3 {
        font-size: 30px;
        margin-left: 0px;
    }
    
    .over-ons-info p {
        margin: 30px 0px 50px 0px;
    }
    
    .contact-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 50px auto;
        gap: 25px;
    }
    
    .contact-info {
        margin: 0px 20px;
    }

    .contact {
        margin: 0px auto;
    }

    .contact img {
        width: 370px;
        height: 275px;
    }

    .contact-info h3 {
        font-size: 30px;
        margin-left: 0px;
    }
    
    .contact-info p {
        margin: 30px 0px 50px 0px;
    }
    
    footer {
        /*footer has space left at the bottom*/
        display: flex;
        position: inherit;
        bottom: 0;
        padding: 0px;
        width: 100%;
        height: 7.5em;
    }
    
    .footer-width {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    
    .footer-width nav {
        margin-right: 25px;
    }
    
    .footer-width p {
        display: flex;
        justify-content: center;
        margin: auto 0;
    }    
}

/* Over ons pagina */

.over-ons-image {
    background-image: url("./Foto\'s\-website/Image-4.jpg");
    filter: brightness(90%);
}

.info-over-ons {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 3fr;
    margin: 25px auto;
}

.example-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-image img {
    object-fit: cover;
    width: 1000px;
    height: 200px;
    border: solid black 1px;
}

.profile-container {
    display: flex;
    max-width: 1100px;
    gap: 120px;
    margin: 75px auto;
}

.profile-container img {
    max-width: 100%;
}

.profile-info {
    display: flex;
    border: var(--primary) 7px solid;
    flex-direction: column;
    border-radius: 0.8%;
    padding: 50px;
    gap: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    gap: 25px;
}

.icons a i {
    cursor: pointer;
    color: var(--primary);
}

@media only screen and (max-width: 600px) {
    .info-over-ons {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .info-over-ons h2 {
        margin: 30px 0px 10px 0px;
    }
    
    .info-over-ons p {
        margin-bottom: 0px;
    }

    .example-image {
        margin: 0px 20px;
        height: 300px;
    }
    
    .example-image img {
        object-fit: fill;
        width: 100%;
        height: 300px;
    }
    
    .profile-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 70px;
        margin: 20px auto 50px auto;
    }
    
    .profile-container img {
        max-width: 100%;
    }
    
    .profile-info {
        display: flex;
        border: var(--primary) 7px solid;
        flex-direction: column;
        border-radius: 0.8%;
        padding: 50px;
        gap: 20px;
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 40px;
        gap: 25px;
    }
    
    .icons a i {
        cursor: pointer;
        color: var(--primary);
    }    
}

/* Contact pagina */

.contact-image {
    background-image: url("./Foto\'s\-website/Image-3.jpg");
    filter: brightness(90%);
}

.contact-information {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 100px;
    max-width: 880px;
    margin: 100px auto;
}

.info h2 {
    border-bottom: 3px solid var(--primary);
}

.adres,
.telefoon,
.mail {
    margin-top: 20px;
}

.openingstijden {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.day {
    padding-right: 5px;
    border-right: 2px solid var(--primary);
}

.time {
    padding-left: 5px;
}

.contactformulier form {
    width: 100%;
}

.contactformulier .name {
    padding: 20px;
}

.send-button {
    display: flex;
    justify-content: flex-end;
}

.validation-button {
    background-color: var(--primary);
    border: 0px;
    border-radius: 5px;
    height: 35px;
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.validation-button:hover {
    background-color: var(--prim-dark);
    cursor: pointer;
}

.contactformulier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contactformulier #name,
.contactformulier #email,
.contactformulier #phone {
    width: 455px;
}

.contactformulier label {
    font-size: 20px;
}

.contactformulier input {
    font-size: 25px;
    margin: 15px 0px 30px 0px;
    border: 2px solid var(--primary);
    background-color: #f1f1f1;
}

.contactformulier #textarea {
    margin: 10px 0px 25px 0px;
    border: 2px solid var(--primary);
    background-color: #f1f1f1;
}

.contactformulier .message {
    height: 100px;
    width: 450px;
}
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .contact-information {
        display: flex;
        flex-direction: column;
        margin: 50px 20px;
        gap: 50px;
    }

    .info h2 {
        border-bottom: 3px solid var(--primary);
        width: 95%;
    }
    
    .adres,
    .telefoon,
    .mail {
        margin-top: 10px;
    }
    
    .openingstijden {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 0px 20px 0px;
    }
    
    .day {
        padding-right: 5px;
        border-right: 2px solid var(--primary);
    }
    
    .time {
        padding-left: 5px;
    }
    
    .contactformulier {
        display: flex;
        flex-direction: column;
    }
    
    .contactformulier .name {
        padding: 20px;
    }
    
    .send-button {
        display: flex;
        justify-content: flex-end;
    }
    
    .contactformulier #name,
    .contactformulier #email,
    .contactformulier #phone {
        width: 360px;
    }
    
    .contactformulier label {
        font-size: 20px;
    }

    .contactformulier textarea {
        border-color: var(--primary);
        background-color: #f1f1f1;
        width: 360px;
    }

    .send-button {
        display: flex; 
        justify-content: flex-end;
        margin: 30px 10px 0px 0px;
    }
}