:root {
    --primary: #D8BC69;
    --prim-dark: #bf9d39;
    --text: #1e1e20;
    --white: #FFFFFF;   
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'lato', sans-serif;
    font-size: 80px;
    line-height: 1.05;
    color: var(--white);
    margin: 0;
}

h2 {
    font-family: 'lato', sans-serif;
    font-size: 30px;
    line-height: 1.05;
    color: var(--text);
    margin: 0;
}

h3 {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    line-height: 1.1;
    color: var(--text);
    margin: 0;
}

p.large {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    color: var(--text);
}

p {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: var(--text);

}

nav {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: var(--text);
}

ul {
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: var(--text);
}

li { 
    margin: 0px 15px;
    list-style: none;
}

.current {
    border-bottom: 3px solid var(--primary);
}

header {
    position: fixed;
    top: 0;
    padding: 0px 10px;
    width: 100%;
    height: 3.6em;
    background-color: var(--white);
    margin-top: auto;
}

.logo {
    object-fit: cover;
    display: inline-block;
    margin-top: 2px;
}


header img {
    height: 3.0em;
}


.header-width {
    display: flex;
    margin: auto;
    max-width: 1100px;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 400px;   
    justify-content: center;
    align-items: center;
}


.home-image {
    background-image: url("./Foto\'s\ website/Image-6.jpg");
           
}

.over-ons-container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 2fr;
    margin: 50px auto;
    gap: 25px;
}

.over-ons img {
    object-fit: cover;
    width: 350px;
    height: 300px;
}

.over-ons-info {
    max-width: 800px;
}

.over-ons-info h3 {
    margin-left: 5px;
}

.contact-container {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 2fr 1fr;
    margin: 50px auto;
    gap: 25px;
}

.contact-info {
    max-width: 800px;
}

.contact-info h3 {
    margin-left: 5px;
}

.contact img {
    object-fit: cover;
    width: 340px;
    height: 320px;
}

.button {
    background-color: var(--primary);
    height: 35px;
    width: 110px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: var(--prim-dark);
}

footer {
    position: inherit;
    bottom: 0;
    padding: 0px auto;
    width: 100%;
    height: 5em;
    background-color: var(--primary);
    margin-top: auto;
}

.footer-width {
    display: flex;
    margin: auto;
    padding: 10px;
    max-width: 1025px;
    justify-content: space-between;
}

/* Over ons pagina */

.over-ons-image {
    background-image: url("./Foto\'s\ website/Image-4.jpg");
}

.info-over-ons {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 3fr;
    margin: 25px auto;
}

.example-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-image img {
    object-fit: cover;
    width: 1000px;
    height: 200px;
    border: solid black 1px;
}

.profile-container {
    display: flex;
    max-width: 1100px;
    gap: 120px;
    margin: 75px auto;
}

.profile-container img {
    max-width: 100%;
}

.profile-info {
    display: flex;
    border: var(--primary) 7px solid;
    flex-direction: column;
    border-radius: 0.8%;
    padding: 50px;
    gap: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--primary);
    height: 20px;
    width: 20px;
    gap: 10px;
}

footer {
    position: inherit;
    bottom: 0;
    padding: 0px auto;
    width: 100%;
    height: 5em;
    background-color: var(--primary);
    margin-top: auto;
}

.footer-width {
    display: flex;
    margin: auto;
    padding: 10px;
    max-width: 1025px;
    justify-content: space-between;
}

/* Contact pagina */

.contact-image {
    background-image: url("./Foto\'s\ website/Image-3.jpg");
}