:root {
    --primary: #D8BC69;
    --prim-dark: #bf9d39;
    --text: #1e1e20;
    --white: #FFFFFF;   
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 1.05;
    color: var(--white);
    margin: 0;
}

h2 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.05;
    color: var(--text);
    margin: 0;
}

h3 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.1;
    color: var(--text);
    margin: 0;
}

p.large {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    color: var(--text);
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--text);

}

nav {
    font-size: 18px;
    color: var(--text);
}

ul {
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: var(--text);
}

li { 
    margin: 0px 15px;
    list-style: none;
}
/*------------------------------------------------------------*/

/*----home pagina----*/

header {
    position: sticky;
    top: 0;
    padding: 0px 10px;
    width: 100%;
    height: 3.6em;
    background-color: var(--white);
    margin-top: auto;
}

.logo {
    object-fit: cover;
    display: inline-block;
    margin-top: 2px;
}


header img {
    height: 3.0em;
}


.header-width {
    display: flex;
    margin: auto;
    max-width: 1100px;
    justify-content: space-between;
}

.header-width li a {
    font-weight: 600;
}

.current {
    border-bottom: 3px solid var(--primary);
}

.hero-container {
    display: flex;
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 400px;   
    justify-content: center;
    align-items: center;
}


.home-image {
    background-image: url("./Foto\'s-website/Image-6.jpg");
} 

.over-ons-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1100px;
    margin: 50px auto;
    gap: 30px;
}

.over-ons img {
    object-fit: fill;
    height: 300px;
    width: 350px;
}

.over-ons-info {
    width: 95%;
    margin-top: 10px;
}

.over-ons-info h3 {
    margin: 5px 0px 0px 5px;
}

.over-ons-info p {
    margin-bottom: 20px;
}

.contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1100px;
    margin: 50px auto;
    gap: 30px;
    
}

.contact-info {
    width: 95%;
    margin-top: 10px;
}

.contact-info h3 {
    margin-left: 5px;
}

.contact-info p {
    margin-bottom: 25px;
}

.contact img {
    object-fit: cover;
    height: 300px;
    width: 350px;
}

.button {
    font-family: 'roboto', sans-serif;
    background-color: var(--primary);
    padding: 8px 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
}

.button:hover {
    background-color: var(--prim-dark);
    cursor: pointer;
}

footer {
    position: static;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background-color: var(--primary);
}

.footer-width {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
}

.footer-width p {
    font-size: 18px;
}

/*------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    header .header-width ul {
        display: none;
    }
    
    .over-ons-container {
        grid-template-columns: 1fr;
        margin: 60px 15px;
    }
    
    .over-ons img {
        object-fit: cover;
        min-height: 240px;
        min-width: 380px;
    }
    
    .over-ons-info h3 {
        margin: 5px 0px 0px 5px;
    }
    
    .over-ons-info p {
        margin-bottom: 60px;
    }
    
    .contact-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 60px 15px;
    }
    
    .contact-info h3 {
        margin-left: 5px;
    }
    
    .contact-info p {
        margin-bottom: 25px;
    }
    
    .contact img {
        object-fit: cover;
        height: 280px;
        width: 380px;
    }
    
    .button {
        font-family: 'roboto', sans-serif;
        background-color: var(--primary);
        padding: 8px 30px;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    }
    
    .button:hover {
        background-color: var(--prim-dark);
        cursor: pointer;
    }
    
    footer {
        height: 7em;
        margin-top: auto;
        margin-bottom: 0px;
    }
    
    .footer-width {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        align-items: center;
        align-content: center;
        margin: auto 0;
    }
    
    .footer-width ul {
        padding-left: 0px;
    }
}
/*------------------------------------------------------------*/

/*----Over ons pagina----*/

.over-ons-image {
    background-image: url("./Foto\'s\-website/Image-4.jpg");
}

.over_ons-information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0px auto;
    gap: 25px;
}

.info-over-ons {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 3fr;
    margin: 25px auto;
}

.example-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-image img {
    object-fit: cover;
    width: 90%;
    height: 200px;
    border: solid black 1px;
}

.profile-container {
    display: flex;
    max-width: 1100px;
    gap: 120px;
    margin: 75px auto;
}

.profile-container img {
    max-width: 100%;
}

.profile-info {
    display: flex;
    border: var(--primary) 7px solid;
    flex-direction: column;
    border-radius: 0.8%;
    padding: 50px;
    gap: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 40px;
    gap: 25px;
}

.icons a i {
    cursor: pointer;
    color: var(--primary);
}
/*------------------------------------------------------------*/
@media only screen and (max-width: 600px) {    
    .info-over-ons {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .info-over-ons h2 {
        margin: 30px 0px 10px 0px;
    }
    
    .info-over-ons p {
        margin-bottom: 0px;
    }

    .example-image {
        margin: 0px 20px;
        height: 300px;
    }
    
    .example-image img {
        object-fit: fill;
        width: 100%;
        height: 300px;
    }
    
    .profile-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 50px;
        margin: 20px auto 50px auto;
    }
    
    .profile-container img {
        width: 100%;
    }
    
    .profile-info {
        display: flex;
        border: var(--primary) 7px solid;
        flex-direction: column;
        border-radius: 0.8%;
        padding: 50px;
        gap: 20px;
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 40px;
        gap: 25px;
    }
    
    .icons a i {
        cursor: pointer;
        color: var(--primary);
    }    
}

/*----Contact pagina----*/

.contact-image {
    background-image: url("./Foto\'s\-website/Image-3.jpg");
}

.contact-information {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 100px;
    max-width: 1100px;
    margin: 100px auto;
}

.info h2 {
    width: 77%;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--primary);
}

.adres,
.telefoon,
.mail,
.openingstijden {
    margin-top: 25px;
}

.openingstijden {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.adres h3,
.telefoon h3,
.mail h3,
.openingstijden h3 {
    font-weight: normal;
}

.adres p,
.telefoon p,
.mail p,
td {
    font-size: 18px;
}

.day {
    padding-right: 5px;
    border-right: 2px solid var(--primary);
}

.time {
    padding-left: 5px;
}

.contactformulier form {
    width: 100%;
}

.contactformulier .name {
    padding: 20px;
}
/*-----------------------------*/
.validation-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.validation-button:hover {
    background-color: var(--prim-dark);
    cursor: pointer;
}
/*-----------------------------*/
.contactformulier form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactformulier #name,
.contactformulier #email,
.contactformulier #phone {
    width: 100%;
}

.contactformulier label {
    font-size: 25px;
}

.contactformulier input {
    font-size: 35px;
    border: 2px solid var(--primary);
    background-color: #f1f1f1;
    margin: 15px 0px 30px 0px;
}

.contactformulier textarea {
    font-size: 14px;
    width: 100%;
    border: 2px solid var(--primary);
    background-color: #f1f1f1;
    margin: 10px 0px 25px 0px;
}

.contactformulier .message {
    height: 100px;
    width: 450px;
}
/*------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .contact-information {
        display: flex;
        flex-direction: column;
        margin: 50px 20px;
        gap: 50px;
    }

    .info h2 {
        border-bottom: 3px solid var(--primary);
        width: 95%;
    }
    
    .adres,
    .telefoon,
    .mail {
        margin-top: 10px;
    }
    
    .openingstijden {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 0px 20px 0px;
    }
    
    .day {
        padding-right: 5px;
        border-right: 2px solid var(--primary);
    }
    
    .time {
        padding-left: 5px;
    }
    
    .contactformulier {
        display: flex;
        flex-direction: column;
    }
    
    .contactformulier .name {
        padding: 20px;
    }
    
    .send-button {
        display: flex;
        justify-content: flex-end;
    }
    
    .contactformulier #name,
    .contactformulier #email,
    .contactformulier #phone {
        width: 360px;
    }
    
    .contactformulier label {
        font-size: 20px;
    }

    .contactformulier textarea {
        border-color: var(--primary);
        background-color: #f1f1f1;
        width: 360px;
    }

    .send-button {
        display: flex; 
        justify-content: flex-end;
        margin: 30px 10px 0px 0px;
    }
}