:root {
    --marg: 10px;
}

.flex-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: flex-end;
    margin: 10px auto;
}

.flex-con-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.flex-column {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 10px;
    margin: 10px 10px 0px 10px;
}

.flex-con-2 {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 0px 10px 30px 10px;
}

.flex-con-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: center;
    margin: 10px auto;
}

.licht-rood {
    background-color: #ffa0a0;
}

.rood {
    background-color: #f05050;
    width: calc(25% - var(--marg) * 2);
    height: 100%;
    margin: var(--marg);

}

.licht-paars {
    background-color: #a0a0ff;
}

.paars {
    background-color: #1919c5;
    width: calc(100% / 3);
    height: 220px;
}

.geel {
    background-color: #f0f050;
    width: calc(100% * 2 / 3);
    height: 220px;
}

.roze {
    background-color: #f050f0;
    width: 100%;
    height: 250px;
}

.licht-groen {
    background-color: #a0ffa0;
}

.groen {
    background-color: #50f050;
    width: 33%;
    height: 100px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .licht-rood {
        height: 200px;
    }
    
    .rood {
        width: 50%;
    }
    
    .flex-column {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .licht-paars {
        height: 600px;
    }
    
    .paars {
        width: 50%;
        height: 140px;
    }
    
    .geel {
        width: 100%;
        height: 140px;
    }
    
    .roze {
        height: 280px;
    }
    
    .licht-groen {
        justify-content: space-evenly;
        height: 200px;
    }
    
    .groen {
        width: calc(100% - var(--marg) * 2);
        height: calc(50% - var(--marg) * 2);
    }
}